
/* Image size must be 1103 X 1000 px with white on each side*/
body {	color:#333;	font:300 15px/15px Roboto,Arial,Helvetica; -webkit-font-smoothing:antialiased;}

a{color:#00a9c6; text-decoration:none;}
a:hover{color:#666;}






h1,
h2,
h3,
h4 {
	margin: 0;
	line-height: 1em;
}

h2 {
	font: 300 2.5em Josefin Sans, Arial, Helvetica;
	margin-bottom: 1.5em;
}

h3 {
	font: 300 2em Roboto, Arial, Helvetica;
	margin: 2em 0 1em 0;
}

h4 {
	font: 300 1.5em Roboto, Arial, Helvetica;
	margin-bottom: 1em;
}

h4 i {
	margin-right: 0.5em;
}

p {
	font-size: 1em;
	line-height: 1.7em;
	margin-bottom: 1.7em;
}



#header{
	font-size: 6.5em;
}









.navbar-default{
	background-color: rgba(149,180,61,.6);
}


.navbar-nav > li > a {
	font-size: 1em;
	line-height: 3.9em;
}















#head,
.carousel {
	margin-top: 0;
}

#home {
	padding-top: 6em;
}

#location {
	text-align: center;
	margin-top: 200px;
}

#location h1{
	padding-bottom: 30px;
}


/*banner*/

.banner {
	position: relative;
}

.banner .caption {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.1);
}

.banner .caption-wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

.banner .caption-info {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}











/*about*/

.about .spacer {
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 0;
}


.panel-group .panel {
	border-radius: 0;
	border: none;
}

.panel-group .panel a:hover {
	text-decoration: none;
}



#mental-health, #seek-help{
	margin-top: 100px;

}

#seek-help{
	padding-top: 20px;
	margin: 0 auto;
	width: 100%;
}




#seek-help ul{
	list-style: none;
	margin-top: 30px;
	margin-bottom: 90px;
}

#seek-help ul>li{
	padding-top: 30px;
}






/*disease*/

#disease {
	padding-top: 6em;
}

#disease figcaption a {
	border: 1px solid #fff;
	margin-top: 1em;
	display: inline-block;
	color: #fff;
	padding: 0 2em;
}

#disease figcaption a:hover {
	text-decoration: none;
	padding: 0 3em;
}



#mental-health ul>li{
	padding-top: 15px;
	width: 80%;
}




#comment{
	background-color: #00b4c5;
	width: 80%;
	margin: 0 auto;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}




#blog{

	width: 80%;
	margin: 0 auto;
	margin-top: 200px;
	background-color: #00b4c5;
	height: 1500px;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;



}

#blog h1{
	padding-top: 50px;
	padding-bottom: 50px;

}


.boom{
	height: 1300px;
	overflow: scroll;
}


.blogmiddle{
	background-color: white;
	width: 60%;
	margin: 0 auto;
	padding: 5px 50px 5px 50px;
}


.blogimg{
	width: 100%;
	margin: 0 auto;
}







/*contact*/

.contactform textarea,
.contactform input {
	width: 100%;
	padding: 1em;
	border: 1px solid #ccc;
	margin-bottom: 1em;
	border-radius: 0;
	outline: none;
}






/* login */

#login{
	width: 60%;
	margin: 0 auto;
	padding-top: 200px;
	padding-bottom: 200px;
}

#login form{
	width: 40%;
	margin: 0 auto;

}

#login form>input{
	padding-bottom: 30px;
	width: 100%;
	font-size: 2em;
}

#sub{
	padding-bottom: 30px;
}







.footer {
	background-color: rgba(149,180,61,.6);
	font-size: 1em;
	width: 100%;
	padding: 3em;
	margin-top: 50px;


}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
	animation-duration: 1s;
}

.tada:hover {
	-webkit-animation-name: tada;
	animation-name: tada;
	animation-duration: 1s;
}


@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}






@media only screen and (max-width: 768px) {

	#header{
		font-size: 200%;
	}


	#home{
		padding-top: 3.3em;
	}

	#blog{
		width: 100%;
		margin-top: 100px;
	}

	#comment{
		width: 100%;
	}

	.blogmiddle{
		width: 85%;
	}


	#comment{
		width: 100%;
	}

	.navbar-default{
		background-color: rgba(149,180,61,.96);
	}







}








